.sign-form-input {
  display: flex;
  flex-direction: column;
  width: 520px;
  gap: 10px;
  position: relative;
}

.form-input-container.eye-container {
  position: relative;
}

.sign-form-input > .form-input-container.eye-container > input {
  padding: 0 15px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  color: #585A66;
  width: 100%;
  box-sizing: border-box;
}

.sign-form-input > .form-input-container.eye-container > .form-password-input {
  padding-right: 55px;
}

.sign-form-input > .form-input-container.eye-container > input:focus {
  outline: 1px #1976d2 solid;
}

.form-input-container.eye-container > svg {
  position: absolute;
  right: 17.5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.sign-form-input > label {
  color: #23235F;
  font-size: 16px;
}

.sign-form-input > span {
  font-size: 12px;
  padding: 3px;
  color: red;
}

.sign-form-input > .sign-form-error {
  border: 1px solid red;
}

.sign-form-input > .sign-form-error ~ span {
  display: block;
}

.sign-form-input > a {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  color: #111;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}

.sign-in-password {
  margin-bottom: 24.8px;
}

.react-tel-input {
  height: 46px !important;
}

.react-tel-input .form-control {
  width: 100% !important; 
  height: 100% !important; 
  padding-left: 55px !important;
}

.react-tel-input .selected-flag {
  width: 45px !important;
  padding: 0 !important;
}

.react-tel-input .selected-flag .flag {
  margin-left: 50%;
  transform: translateX(-70%);
}

.react-tel-input .country-list {
  border-radius: 8px;
}