.sign-form-input {
  display: flex;
  flex-direction: column;
  width: 520px;
  gap: 10px;
  position: relative;
}

.form-input-container.eye-container {
  position: relative;
}

.sign-form-input > .form-input-container.eye-container > textarea {
  min-height: 80px;
  resize: none;
  padding: 3px 15px;
  font-family: 'Poppins';
}

.sign-form-input > .form-input-container.eye-container > input {
  padding: 0 15px;
}

.sign-form-input > .form-input-container.eye-container > input, .sign-form-input > .form-input-container.eye-container > textarea {
  height: 46px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(102, 102, 102, 0.35);
  color: #585A66;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
}

.sign-form-input > .form-input-container.eye-container > .form-password-input {
  padding-right: 55px;
}

.form-input-container.eye-container > svg {
  position: absolute;
  right: 17.5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.sign-form-input > label {
  color: #23235F;
  font-size: 16px;
}

.under-form-input-container {
  width: 100%;
  display: flex;
  padding: 3px;
  align-items: flex-start;
  gap: 20px;
}

.under-form-input-container > span {
  font-size: 12px;
  color: red;
}

.sign-form-input > .form-input-container.eye-container > .sign-form-error {
  border: 1px solid red;
  outline: none;
}

.sign-form-input > .under-form-input-container >  span {
  display: inline-block;
}

.sign-form-input > .under-form-input-container > a {
  color: #111;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  margin-left: auto;
  text-wrap: nowrap;
}

.about-max-letters {
  position: absolute;
  right: 5px;
  bottom: -15px;
  color: #768396;
  font-family: 'DM Sans';
  font-size: 12px !important;
  font-weight: 400;
}