.loading-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: fit-content;
  min-width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  gap: 200px;
}

.loading-hero-img {
  width: 224px;
  height: 225px;
}