.error-message-popup {
  position: relative;
  overflow: auto;
  min-height: fit-content;
  min-width: fit-content;
  background-color: white;
  padding: 20px 25px;
}

.error-message-heading {
  color: #5468E7;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: space-between;
  text-wrap: nowrap;
  gap: 100px;
}

.close-error-message{
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.close-error-message:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.error-message-content {
  margin-top: 20px;
}