header {
  background-color: #FFFFFF;
  padding: 23px 45px 12px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  min-width: fit-content;
  position: fixed;
  z-index: 10;
  height: 79px;
}

.app-logo {
  height: 40px;
  width: 40px;
}

.app-logo-text {
  position: relative;
  color: #5468E7;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  left: -8px;
  text-wrap: nowrap;
}

.app-logo-text > span {
  color: black;
}

.search-bar {
  display: flex;
  height: 44px;
  width: 35%;
  max-width: 600px;
  border-radius: 7px;
  border: white 2px solid;
}

.search-bar:focus-within {
  border: 2px #1976d2 solid;
}

.search-bar > input, .search-bar > button {
  background-color: #F3F7FA;
  border: none;
}

.search-bar > input, .search-bar > input::placeholder {
  color: #23235F;
  font-family: 'DM Sans';
  font-size: 14px;
}

.search-bar > input {
  flex: 1; 
  outline: none;
  padding: 12px 10px 12px 20px;
  border-radius: 7px 0px 0px 7px;
}

.search-bar > button {
  padding: 12px 20px 12px 10px;
  border-radius: 0px 7px 7px 0px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 965px) {
  .search-bar {
      display: none;
  }
}

.user-accessibility {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-level {
  color: #F48C06;
  font-size: 21px;
  font-weight: 600;
  white-space: nowrap;
}

.navbar-notifications {
  position: relative;
  display: flex;
  cursor: pointer;
}

.notification-number {
  position: absolute;
  color: #FFF;
  background-color: #5468E7;
  font-family: 'DM Sans';
  font-size: 8px;
  font-weight: 700;
  width: 11px;
  height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 0px;
}

.navbar-user-info {
  display: flex;
  gap: 13px;
  align-items: center;
}

.navbar-profile-pic {
  width: 40px;
  height: 40px;
  object-fit:cover;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-user-name-container {
  display: flex;
  flex-direction: column;
}

.navbar-username {
  font-family: 'Inter';
  font-weight: 500;
  letter-spacing: -0.16px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.navbar-title {
  font-family: "DM Sans";
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  color: rgba(0, 0, 0, 0.40);
}

.account-dropdown-container {
  position: relative;
}

.account-dropdown {
  position: absolute;
  right: 0px;
  top: 46px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #5468E7;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logout-container > p {
  white-space: nowrap;
  font-size: 14px;
  color: #5468E7;
  cursor: pointer;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}