.task-preview-popup {
  position: relative;
  overflow: auto;
  min-height: fit-content;
  min-width: fit-content;
  background-color: white;
  padding: 20px 25px;
}

.task-preview-heading {
  color: #23235F;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: space-between;
  text-wrap: nowrap;
  gap: 100px;
}

.close-task-preview {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.close-task-preview:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.task-preview-upper-section {
  display: flex;
  align-items: flex-start;
  min-width: 100%;
  justify-content: space-between;
  text-wrap: nowrap;
  gap: 100px;
  margin-top: 22px;
}

.task-preview-upper-left-section {
  display: flex;
  gap: 24px;
  align-items: center;
}

.task-preview-tag {
  border-radius: 4px;
  padding: 4px 11px;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  text-wrap: wrap;
}

.task-preview-upper-left-section > svg  {
  min-width: 23px;
  min-height: 28px;
}

.task-preview-date-container {
  display: flex;
  flex-direction: column;
}

.task-preview-date-container  > p {
  color: rgba(0, 0, 0, 0.80);
  font-size: 10px;
  font-weight: 400;
}

.task-preview-cover-image {
  height: 96.7px;
  width: 182px;
  object-fit: cover;
  float: right;
}

.task-preview-disc {
  white-space: pre-line;
  margin-top: 22px;
  color: rgba(0, 0, 0, 0.80);
  font-weight: 300;
  min-width: fit-content;
}

.task-preview-steps-container {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  gap: 22px;
  width: fit-content;
}

.task-preview-step {
  min-width: fit-content;
  border-radius: 8px;
  padding: 20px 84px 20px 20px;
  border-style: solid;
  border-width: 1px;
  font-family: 'Inter';
  position: relative;
}

.complete-step {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.task-preview-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 22px;
  direction: rtl;
}

.task-preview-left-button-wrapper-section {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.task-preview-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: 'Poppins';
  color: white;
}

.task-preview-button.blue {
  background-color: #5468E7;
}

.task-preview-button.white {
  color: black;
}

.task-preview-button.red {
  background-color: #D20000;
  float: right;
}