.change-password-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: fit-content;
  min-width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  gap: 20px;
}

.change-password-hero-img {
  width: 196px;
  height: 235px;
}

.change-password-page-disc {
  text-align: center;
  font-family: 'Roboto';
  color: #23235F;
  font-size: 48px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-password-page-container > button {
  height: 46px;
  border-radius: 8px;
  outline: none;
  background-color: #5468E7;
  border: 0;
  border-top: 1px solid #5468E7;
  border-bottom: 1px solid #5468E7;
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 520px;
  box-sizing: content-box;
  padding: 0;
}

.change-password-page-container > button:hover {
  background-color: #0056b3;
  border-top: 1px solid #0056b3;
  border-bottom: 1px solid #0056b3;
}