.not-found-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url('../../assets/images/not-found-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.not-found-container > h1 {
  font-size: 100px;
  color: #dc3545;
  margin: 0;
}

.not-found-container > p {
  font-size: 25px;
  color: #fff;
  margin: 0;
}

.not-found-container > a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5468E7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.not-found-container > a:hover {
  background-color: #0056b3;
}