.project-page-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.project-page-container {
  margin-top: 16px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.project-page-right-section {
  background: #FFF;
  width: fit-content;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-page-right-section > * {
  padding-right: 30px;
  padding-left: 30px;
}

.project-page-right-top-section  {
  margin: auto;
}

.project-page-right-bottom-section  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: calc(100% - 60px);
}

.project-page-right-bottom-section > *  {
  padding-left: 30px;
  padding-right: 30px;
}

.project-page-right-mid-section {
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.project-page-right-members-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.project-page-right-mid-section > div {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center !important;
  gap: 10px !important;
  color: #0057FF;
  cursor: pointer;
}

.project-page-right-bottom-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-page-right-header {
  font-size: 28px;
  font-weight: 500;
}

.project-page-right-member {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.project-page-right-member-left {
  display: flex;
  gap: 8px;
  text-wrap: nowrap;
  align-items: center;
}

.project-page-right-member-profile-pic {
  width: 25px;
  height: 25px;
  object-fit:cover;
  border-radius: 50%;
}

.project-page-right-member-name {
  font-size: 13px;
  font-weight: 300;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-page-right-member-control {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-page-right-member-control > svg:first-child, .project-page-right-member > svg {
  width: 17px;
}

.project-page-right-member-control > svg:last-child {
  width: 20px;
}

.project-page-right-members-nav {
  display: flex;
  align-items: flex-start;
  min-width: 100%;
  justify-content: space-between;
  text-wrap: nowrap;
  gap: 20px;
  align-items: center;
}

.project-page-right-members-count {
  color: #585A66;
font-family: 'Inter';
font-size: 13px;
font-weight: 500;
}

.project-page-right-members-search:focus-within {
  border: 2px #1976d2 solid;
  outline: none;
}

.project-page-right-members-search {
  border: 2px #DCDCDC solid;
  color: #23235F;
  padding: 5px 11px;
  font-family: 'Inter';
  font-size: 12px;
  background-color: #DCDCDC;
  border-radius: 4px;
  width: 80px;
  flex: 1;
}

.project-page-right-members-search::placeholder {
  color: #94A2BC;
  font-family: 'Inter';
  font-size: 12px;
}

.project-page-right-invite-members-button {
  display: flex;
  gap: 3px;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #5468E7;
  border-radius: 4px;
  color: white;
}

.project-page-left-section {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  height: fit-content;
  width: fit-content;
  max-width: 948px;
}

@media (max-width: 1460px) {
  .project-page-left-section  {
    max-width: 450px;
  }
}

.project-page-single-task-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  height: fit-content;
  width: 450px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.project-page-single-task-upper-section {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.project-page-single-task-upper-left-section, .project-page-single-task-upper-right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.project-page-single-task-tag {
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
  border-radius: 8px;
  padding: 3px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}

.project-page-single-task-date {
  color: #232360;
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.project-page-single-task-member-profile-pic {
  width: 25px;
  height: 25px;
  object-fit:cover;
  border-radius: 50%;
}

.project-page-single-task-member-name {
  font-size: 11px;
  font-weight: 300;
  max-width: 200px;
  text-wrap: nowrap;
}

.project-page-single-task-title {
  font-size: 17px;
  font-weight: 500;
}

.tasks-task-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-page-single-task-bottom-section {
  display: flex;
  justify-content: space-between;
}

.project-page-single-task-your-task {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #5468E7;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  color: #5468E7;
}

.project-page-single-task-state-finished,
.project-page-single-task-state-waiting,
.project-page-single-task-state-in-progress {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  color: #F6F8FF;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 300;
  margin-left: auto;
  border-radius: 3px;
}

.project-page-single-task-state-finished {
  background-color: #00FF29;
}

.project-page-single-task-state-waiting {
  background-color: #5468E7;

}

.project-page-single-task-state-in-progress {
  background-color: #585A66 ;
}