.tasks-upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-sorting-container {
  display: flex;
  gap: 20px;
}

.tasks-sorting-container .css-13cymwt-control {
  border-color: white !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 36px !important;
  max-height: 36px !important;
  box-sizing: border-box !important;
}

.tasks-sorting-container .css-t3ipsp-control {
  min-height: 36px !important;
  max-height: 36px !important;
  box-sizing: border-box !important;
}

.tasks-sorting-container .css-1dimb5e-singleValue {
  display: flex;
}

.tasks-sorting-container .css-1u9des2-indicatorSeparator {
  display: none;
}

.tasks-sorting-container .css-tj5bde-Svg {
  cursor: pointer;
}

.task-sort-option:first-child {
  border-radius: 4px 4px 0 0;
}

.task-sort-option:last-child {
  border-radius: 0 0 4px 4px;
}

.tasks-no-tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100vw;
  gap: 40px;
}

.tasks-no-tasks > p {
  font-size: 36px;
  font-weight: 500;
  height: 300px;
  display: flex;
  align-items: center;
}


.tasks-container {
  margin-top: 16px;
  display: flex;
  gap: 40px;
}

.tasks-left-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
  width: fit-content;
  max-width: 906px;
  justify-content: flex-start;
}

@media (max-width: 1410px) {
  .tasks-left-section:not(.search-page) {
    max-width: 588px;
  }
}

@media (max-width: 1092px) {
  .tasks-left-section:not(.search-page)  {
    max-width: 270px;
  }
}

.tasks-left-section.search-page {
  align-items: flex-start;
  max-width: 1542px;
  margin-top: 16px;
}

@media (max-width: 1708px) {
  .tasks-left-section.search-page {
    max-width: 1224px;
  }
}

@media (max-width: 1390px) {
  .tasks-left-section.search-page {
    max-width: 906px;
  }
}

@media (max-width: 1072px) {
  .tasks-left-section.search-page {
    max-width: 588px;
  }
}

@media (max-width: 753px) {
  .tasks-left-section.search-page  {
    max-width: 270px;
  }
}

.tasks-left-section-tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  height: fit-content;
}

.tasks-task-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  width: 270px;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.tasks-task-upper-section {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
}

.tasks-task-upper-section > p {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  padding: 3px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tasks-task-group-icon {
  min-width: 23px;
  min-height: 20px;
}

.tasks-task-middle-section {
  display: flex;
  flex-direction: column;
  gap: 10PX;
}

.tasks-task-cover-image {
  width: 240px;
  height: 128px;
}

.tasks-task-title {
  font-size: 17px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tasks-task-date {
  color: #232360;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  padding: 3px 5px;
  width: fit-content;
}

.tasks-task-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-task-button-container {
  display: flex;
  gap: 16px;
}

.tasks-task-steps-container {
  display: flex;
  gap: 7px;
  align-items: center;
}

.tasks-task-steps {
  color: #768396;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
}

.tasks-show-container {
  display: flex;
  gap: 18px;
}

.tasks-show-container.search-show {
  margin-left: auto;
}

.tasks-show-more, .tasks-show-less {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: -1.12px;
  font-size: 28px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.tasks-show-more:hover, .tasks-show-less:hover {
  color: #5468E7;
}

.tasks-right-section {
  background: #FFF;
  width: fit-content;
  height: fit-content;
  padding :30px 17px 60px 17px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.single-filter-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.single-filter-container > p {
color: #23235F;
font-family: 'Roboto';
font-size: 24px;
font-weight: 500;
letter-spacing: -0.96px;
}

.single-filter-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-option-container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filter-option-container > input {
  display: none;
}

.filter-checkmark {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  position: relative;
}

.filter-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.filter-option-container > input:checked ~ .filter-checkmark:after {
  display: block;
}

.filter-option-container .filter-checkmark:after {
  left: 5px;
  top: -3px;
  width: 4px;
  height: 11px;
  border: solid #5468E7;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.filter-option-container > p {
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.70);
}

.filter-option-container > p > span {
  color: rgba(0, 0, 0, 0.60);
  font-family: 'Roboto';
  font-size: 8px;
}

.single-filter-options.priority-filter-options {
  flex-direction: row;
  gap: 32px;
}

.single-filter-options.priority-filter-options > label > svg {
  width: 13px;
  height: 16px;
}

.tag-header-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.tag-header-container > p {
  color: #23235F;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.96px;
}

.tag-header-container > input:focus-within {
  border: 2px #1976d2 solid;
  outline: none;
}

.tag-header-container > input {
  border: 2px #F3F7FA solid;
  color: #23235F;
  padding: 5px 11px;
  font-family: 'DM Sans';
  font-size: 14px;
  background-color: #F3F7FA;
  border-radius: 7px;
  width: 50%;
}

.single-filter-options.priority-filter-options .filter-option-container, .single-filter-options.tags-filter-options .filter-option-container {
  gap: 5px;
}

.single-filter-options.tags-filter-options {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  row-gap: 16px;
}

.tags-filter-options .filter-option-container > p  {
  color: rgba(0, 0, 0, 0.60);
  letter-spacing: -0.64px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tags-show-container {
  position: absolute;
  bottom: 25px;
  right: 17px;
  display: flex;
  gap: 20px;
}

.tags-show-more, .tags-show-less {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  letter-spacing: -0.48px;
  font-size: 12px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.tags-show-more:hover, .tags-show-less:hover {
  color: #5468E7;
}